.contacts-chat-text{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.905);
    text-align: center;
}
.contacts-container-profile{
    display: flex;
    align-items: center;
    line-height: 0.5;
    padding-left: 10px;
}
.contacts-container-profile:active{
    background-color: rgb(211, 239, 230);
    border-radius: 14px;
}
.profile-image{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-right: 6px;
}
.name-text-chat{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 800;
    color: rgb(11, 10, 10);
}
.chat-text-chat{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    color: rgb(78, 77, 77);
}
.list-container-all-user-data{
    list-style-type: none;
    padding: 0px;
    overflow-y: scroll;
}